name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm install cypress --save-dev
      - run: npx cypress run
